{{- if strings.HasPrefix .Destination "http" -}}
  <a href="{{ .Destination | safeURL }}" target="_blank" rel="noopener noreferrer">
    <img class="zoomable" loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
  </a>
{{- else -}}
  <a href="{{ .Destination | safeURL }}" target="_blank" rel="noopener noreferrer">
    <img class="zoomable" loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} {{ with imageConfig ( printf "static/%s" .Destination ) }} width={{ .Width }} height="{{ .Height }}" {{ end }} />
  </a>
{{- end -}}